<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="login.css">
	<script type="text/javascript" charset="utf-8" src="login.js"></script>

	<title>{{ title or 'Sistema login python' }}</title>
</head>
<body>
	<center>
		<h1>Sistema login com python e bottle</h1>
		{{ !base }}
		<footer>
			<p>Dúvidas? <a href="http://developied.comli.com/" target="_black" class="email">developied.comli.com</a></p>
		</footer>
		
	</center>
</body>
</html>