% rebase('base.html', title='Fazer login')

<div class="panel-heading">
  <h3 class="panel-title">Login</h3>
</div>
<div class="panel-body">
  <form accept-charset="UTF-8" role="form" action="/" method="post">
    <fieldset>
      <div class="form-group">
        <input class="form-control" placeholder="username" name="username" type="text">
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="password" name="password" type="password" value="">
      </div>
      <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
    </fieldset>
  </form>
  <center>
    <p>Não tem login? <a href="cadastro">Cadastre-se aqui</a></p>
  </center>
  % if not sucesso:
  <center>
    <p style="color:red">Usuário e/ou senha incorreto(s)!</p>
  </center>
  % end
</div>
